body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #f4f4f4 0%, #e0e0e0 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.tablero {
    position: relative;
    width: 500px;
    height: 500px;
    background-color: #d2a679;
    border-radius: 50%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}

#casillas-container {
    position: absolute;
    width: 100%;
    height: 100%;
}

.centro {
    position: absolute;
    width: 130px;
    height: 130px;
    background-color: silver;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    font-weight: bold;
    z-index: 10;
    border: solid;
}

.casilla {
    position: absolute;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    color: black;
    border: solid;
    transform: rotate(var(--angle)) translate(200px) rotate(calc(-1 * var(--angle)));
}

.casilla.especial {
    width: 70px; /* Un poco más grandes */
    height: 70px;
    border: 3px solid white;
    font-size: 24px; /* Más visibles */
    font-weight: bold;
}

/* Colores de las categorías */
.azul { background-color: #0066ff; }
.rojo { background-color: red; }
.verde { background-color: #00cc00; }
.amarillo { background-color: yellow; }
.rosa { background-color: #ff3399; }
.naranja { background-color: #ff6600; }
.morado { background-color: #9900ff; }

.container {
    width: 100%;
    max-width: 600px;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-input {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.form-input input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

.form-input input[type="submit"] {
    color: white;
    cursor: pointer;
}