<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                        http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
    version="3.1"
    metadata-complete="true">

        <display-name>Trivial4U</display-name>
        <description>Aplicacion web "Trivial4U" Trabajo STGI </description>

        <welcome-file-list>
            <welcome-file>index.html</welcome-file>
        </welcome-file-list>

        <!-- Servlet para registrar un usuario -->
        <servlet>
            <servlet-name>Registro</servlet-name>
            <servlet-class>Registro</servlet-class>
        </servlet>
        <servlet-mapping>
            <servlet-name>Registro</servlet-name>
            <url-pattern>/Registro</url-pattern>
        </servlet-mapping>

        <!-- Servlet para loguear un usuario -->
        <servlet>
            <servlet-name>Login</servlet-name>
            <servlet-class>Login</servlet-class>
        </servlet>
        <servlet-mapping>
            <servlet-name>Login</servlet-name>
            <url-pattern>/Login</url-pattern>
        </servlet-mapping>
        
        <!-- Servlet para mostrar estadísticas -->
        <servlet>
            <servlet-name>Estadisticas</servlet-name>
            <servlet-class>Estadisticas</servlet-class>
        </servlet>
        <servlet-mapping>
            <servlet-name>Estadisticas</servlet-name>
            <url-pattern>/Estadisticas</url-pattern>
        </servlet-mapping>
        
        <session-config>
            <session-timeout>30</session-timeout>
        </session-config>
</web-app>